@{
    ViewBag.Title = Resources.Account.ResetConfirm;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Account.HasBeenReset @Html.ActionLink(Resources.Account.ClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
