@model IEnumerable<UserAccounts.Models.CommentsModel>

<h4>
    @Resources.Campaign.Comments
</h4>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <h5><span class="badge badge-pill badge-secondary">@item.AuthorName</span></h5> 
            @Html.DisplayFor(modelItem => item.Content)
        </td>
    </tr>
}

</table>
