@using Westwind.Web.Markdown
@model IEnumerable<UserAccounts.Models.PostModel>

<h4>Posts:</h4>
@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <td class="caption">
                <div class="control-label">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
            </td>
        <tr>
            <td>
                @Html.Raw(Markdown.Parse(item.Content))
            </td>
        </tr>
    </table>
}
