@model UserAccounts.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Resources.Account.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resources.Account.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resources.Campaign.Create, "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>